@page "/Exercises"
@using GymLibraryData
@inject GymLibraryData.ExerciseDataAccess ExerciseManager


@* getting exercises from database and listing it to test*@
<h3>Exercises</h3>
<ul>
    <li>@exercises[0].ExerciseName</li>
    <li>@exercises[0].Id</li>
    
</ul>

@code {

    GymLibraryData.DataModels.Exercise exer = new GymLibraryData.DataModels.Exercise();
    List<GymLibraryData.DataModels.Exercise> exercises = null;
    string Message { get; set; }

    protected override void OnInitialized()
    {

        exercises = ExerciseManager.SelectAll();
    }
    
}

