@page "/Exercises"
@using GymLibraryData
@inject GymLibraryData.ExerciseDataAccess ExerciseManager
@*getting exercises from database and listing it to test*@


@foreach (var exer in exercises)
{
    <div style="
    font-size:150%">@exer.ExerciseName</div>
    <p style="margin-top: 15px; margin-bottom: 30px">@exer.ExerciseDescription</p>

}

@code {

    GymLibraryData.DataModels.Exercise exer = new GymLibraryData.DataModels.Exercise();
    List<GymLibraryData.DataModels.Exercise> exercises = null;
    string Message { get; set; }

    protected override void OnInitialized()
    {

        exercises = ExerciseManager.SelectAll();
    }

}

