@page
@model TestDemoGym.Pages.SmolovModel
@{
    ViewData["Title"] = "Smolov";
}

<h1>Smolov</h1>
L<table style=" width:70%">
    <tr>
        <th>Week</th>
        <th>Day</th>
        <th>Sets</th>
        <th>Reps</th>
        <th>Weight</th>
        <th>Completed</th>
    </tr>
    <!--this is the table for the first week day 1-->
    <tr>
        <td>1</td>
        <td>1</td>
        <td>3</td>
        <td>8</td>
        <td>Weight</td>
        <td>Completed</td>
    </tr>
    <tr>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>5</td>
        <td>Weight</td>
        <td>Completed</td>
    </tr>
    <tr>
        <td>1</td>
        <td>1</td>
        <td>2</td>
        <td>2</td>
        <td>Weight</td>
        <td>Completed</td>
    </tr>
    <tr>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>Weight</td>
        <td>Completed</td>
    </tr>


    <td>
        &nbsp;
    </td>
    <!--this is the table for the first week day 2-->
    <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>8</td>
        <td>Weight</td>
        <td>Completed</td>
    </tr>
    <tr>
        <td>1</td>
        <td>2</td>
        <td>1</td>
        <td>5</td>
        <td>Weight</td>
        <td>Completed</td>
    </tr>
    <tr>
        <td>1</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>Weight</td>
        <td>Completed</td>
    </tr>
    <tr>
        <td>1</td>
        <td>2</td>
        <td>1</td>
        <td>1</td>
        <td>Weight</td>
        <td>Completed</td>
    </tr>

    <td>
        &nbsp;
    </td>
    <!--this is the table for the first week day 3-->
    <tr>
        <td>1</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>Weight</td>
        <td>Completed</td>
    </tr>
    <tr>
        <td>1</td>
        <td>3</td>
        <td>1</td>
        <td>3</td>
        <td>Weight</td>
        <td>Completed</td>
    </tr>
    <tr>
        <td>1</td>
        <td>3</td>
        <td>2</td>
        <td>2</td>
        <td>Weight</td>
        <td>Completed</td>
    </tr>
    <tr>
        <td>1</td>
        <td>3</td>
        <td>1</td>
        <td>1</td>
        <td>Weight</td>
        <td>Completed</td>
    </tr>

    <td>
        &nbsp;
    </td>
    <!--this is the table for the 2nd week day 1-->


</table>



