@page
@model TestDemoGym.Pages.SmolovModel
@{
    ViewData["Title"] = "Smolov";
}

<h1>Smolov</h1>
L<table style=" width:70%">
    <tr>
        <th>Week</th>
        <th>Day</th>
        <th>Sets</th>
        <th>Reps</th>
        <th>Weight</th>
        <th>Completed</th>
    </tr>
    
    
</table>



