@page
@model TestDemoGym.Pages.SmolovModel
@{
    ViewData["Title"] = "Smolov";
}

<h1>Smolov</h1>

<br />
<p>Enter your current MAX:</p>
<br />

<table style=" width:70%">
    <tr>
        <th>Week</th>
        <th>Day</th>
        <th>Sets</th>
        <th>Reps</th>
        <th>Weight</th>
        <th>Completed</th>
    </tr>
    <!--this is the table for the first week -->
    <tr>
        <td>1</td>
        <td>1</td>
        <td>3</td>
        <td>8</td>
        <td>Weight</td>
        <td>Completed</td>
    </tr>
    <tr>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>5</td>
        <td>Weight</td>
        <td>Completed</td>
    </tr>
    <tr>
        <td>1</td>
        <td>1</td>
        <td>2</td>
        <td>2</td>
        <td>Weight</td>
        <td>Completed</td>
    </tr>
    <tr>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>Weight</td>
        <td>Completed</td>
    </tr>

    <td>
        &nbsp;
    </td>
    <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>8</td>
        <td>Weight</td>
        <td>Completed</td>
    </tr>
    <tr>
        <td>1</td>
        <td>2</td>
        <td>1</td>
        <td>5</td>
        <td>Weight</td>
        <td>Completed</td>
    </tr>
    <tr>
        <td>1</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>Weight</td>
        <td>Completed</td>
    </tr>
    <tr>
        <td>1</td>
        <td>2</td>
        <td>1</td>
        <td>1</td>
        <td>Weight</td>
        <td>Completed</td>
    </tr>

    <td>
        &nbsp;
    </td>
    <tr>
        <td>1</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>Weight</td>
        <td>Completed</td>
    </tr>
    <tr>
        <td>1</td>
        <td>3</td>
        <td>1</td>
        <td>3</td>
        <td>Weight</td>
        <td>Completed</td>
    </tr>


    <tr>
        <td>1</td>
        <td>3</td>
        <td>2</td>
        <td>2</td>
        <td>Weight</td>
        <td>Completed</td>
    </tr>
    <tr>
        <td>1</td>
        <td>3</td>
        <td>1</td>
        <td>1</td>
        <td>Weight</td>
        <td>Completed</td>
    </tr>

    <td>
        &nbsp;
    </td>
    <!--this is the table for the week 2-->

    <tr>
        <td>2</td>
        <td>1</td>
        <td>1</td>
        <td>5</td>
        <td>Weight</td>
        <td>Completed</td>
    </tr>
    <tr>
        <td>2</td>
        <td>2</td>
        <td>1</td>
        <td>5</td>
        <td>Weight</td>
        <td>Completed</td>
    </tr>
    <tr>
        <td>2</td>
        <td>3</td>
        <td>1</td>
        <td>5</td>
        <td>Weight</td>
        <td>Completed</td>
    </tr>

    <td>
        &nbsp;
    </td>
    <!--this is the table for the 3rd week-->
    <tr>
        <td>3</td>
        <td>1</td>
        <td>4</td>
        <td>9</td>
        <td>Weight</td>
        <td>Completed</td>
    </tr>

    <tr>
        <td>3</td>
        <td>2</td>
        <td>5</td>
        <td>7</td>
        <td>Weight</td>
        <td>Completed</td>
    </tr>

    <tr>
        <td>3</td>
        <td>3</td>
        <td>7</td>
        <td>5</td>
        <td>Weight</td>
        <td>Completed</td>
    </tr>

    <tr>
        <td>3</td>
        <td>4</td>
        <td>10</td>
        <td>3</td>
        <td>Weight</td>
        <td>Completed</td>
    </tr>

    <td>
        &nbsp;
    </td>
    <!--this is the table for week 4-->
    <tr>
        <td>4</td>
        <td>1</td>
        <td>4</td>
        <td>9</td>
        <td>Weight</td>
        <td>Completed</td>
    </tr>

    <tr>
        <td>4</td>
        <td>2</td>
        <td>5</td>
        <td>7</td>
        <td>Weight</td>
        <td>Completed</td>
    </tr>

    <tr>
        <td>4</td>
        <td>3</td>
        <td>7</td>
        <td>5</td>
        <td>Weight</td>
        <td>Completed</td>
    </tr>

    <tr>
        <td>4</td>
        <td>4</td>
        <td>10</td>
        <td>3</td>
        <td>Weight</td>
        <td>Completed</td>
    </tr>

    <td>
        &nbsp;
    </td>
    <!--this is the table for week 5-->
    <tr>
        <td>5</td>
        <td>1</td>
        <td>4</td>
        <td>9</td>
        <td>Weight</td>
        <td>Completed</td>
    </tr>

    <tr>
        <td>5</td>
        <td>2</td>
        <td>5</td>
        <td>7</td>
        <td>Weight</td>
        <td>Completed</td>
    </tr>

    <tr>
        <td>5</td>
        <td>3</td>
        <td>7</td>
        <td>5</td>
        <td>Weight</td>
        <td>Completed</td>
    </tr>

    <tr>
        <td>5</td>
        <td>4</td>
        <td>10</td>
        <td>3</td>
        <td>Weight</td>
        <td>Completed</td>
    </tr>

    <td>
        &nbsp;
    </td>
    <!--this is the table for week 6-->
    <tr>
        <td>6</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>MAX</td>
        <td>Completed</td>
    </tr>
    <tr>
        <td>6</td>
        <td>2</td>
        <td>1</td>
        <td>1</td>
        <td>MAX</td>
        <td>Completed</td>
    </tr>
</table>


<br />
<p>Enter your New Max</p>
<!--NEED TO FIGURE OUT TO TAKE INPUT FOR THE NEW MAX-->


<table style=" width:70%">
    <td>
        &nbsp;
    </td>
    <tr>
        <th>Week</th>
        <th>Day</th>
        <th>Sets</th>
        <th>Reps</th>
        <th>Weight</th>
        <th>Completed</th>
    </tr>
    <!--this is the table for week 7-->
    <tr>
        <td>7</td>
        <td>1</td>
        <td>6</td>
        <td>6</td>
        <td>Weight</td>
        <td>Completed</td>
    </tr>

    <tr>
        <td>7</td>
        <td>2</td>
        <td>7</td>
        <td>5</td>
        <td>Weight</td>
        <td>Completed</td>
    </tr>

    <tr>
        <td>7</td>
        <td>3</td>
        <td>8</td>
        <td>4</td>
        <td>Weight</td>
        <td>Completed</td>
    </tr>

    <tr>
        <td>7</td>
        <td>4</td>
        <td>10</td>
        <td>3</td>
        <td>Weight</td>
        <td>Completed</td>
    </tr>

    <td>
        &nbsp;
    </td>
    <!--this is the table for week 8-->
    <tr>
        <td>8</td>
        <td>1</td>
        <td>6</td>
        <td>6</td>
        <td>Weight</td>
        <td>Completed</td>
    </tr>

    <tr>
        <td>8</td>
        <td>2</td>
        <td>7</td>
        <td>5</td>
        <td>Weight</td>
        <td>Completed</td>
    </tr>

    <tr>
        <td>8</td>
        <td>3</td>
        <td>8</td>
        <td>4</td>
        <td>Weight</td>
        <td>Completed</td>
    </tr>

    <tr>
        <td>8</td>
        <td>4</td>
        <td>10</td>
        <td>3</td>
        <td>Weight</td>
        <td>Completed</td>
    </tr>

    <td>
        &nbsp;
    </td>
    <!--this is the table for week 9-->
    <tr>
        <td>9</td>
        <td>1</td>
        <td>6</td>
        <td>6</td>
        <td>Weight</td>
        <td>Completed</td>
    </tr>

    <tr>
        <td>9</td>
        <td>2</td>
        <td>7</td>
        <td>5</td>
        <td>Weight</td>
        <td>Completed</td>
    </tr>

    <tr>
        <td>9</td>
        <td>3</td>
        <td>8</td>
        <td>4</td>
        <td>Weight</td>
        <td>Completed</td>
    </tr>

    <tr>
        <td>9</td>
        <td>4</td>
        <td>10</td>
        <td>3</td>
        <td>Weight</td>
        <td>Completed</td>
    </tr>
    <td>
        &nbsp;
    </td>
    <!--this is the table for week 10-->
    <tr>
        <td>10</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>MAX</td>
        <td>Completed</td>
    </tr>
    <tr>
        <td>10</td>
        <td>2</td>
        <td>1</td>
        <td>1</td>
        <td>MAX</td>
        <td>Completed</td>
    </tr>
</table>

<br />
<p>Enter Your New Max</p>


<table style=" width:70%">
    <td>
        &nbsp;
    </td>
    <tr>
        <th>Week</th>
        <th>Day</th>
        <th>Sets</th>
        <th>Reps</th>
        <th>Weight</th>
        <th>Completed</th>
    </tr>


    <!--this is the table for week 11 day 1-->

    <tr>
        <td>11</td>
        <td>1</td>
        <td>1</td>
        <td>3</td>
        <td>weight</td>
        <td>Completed</td>
    </tr>
    <tr>
        <td>11</td>
        <td>1</td>
        <td>4</td>
        <td>4</td>
        <td>weight</td>
        <td>Completed</td>
    </tr>
    <tr>
        <td>11</td>
        <td>1</td>
        <td>1</td>
        <td>5</td>
        <td>weight</td>
        <td>Completed</td>
    </tr>

    <td>
        &nbsp;
    </td>
    <!--this is the table for week 11 day 2-->

    <tr>
        <td>11</td>
        <td>2</td>
        <td>2</td>
        <td>3</td>
        <td>weight</td>
        <td>Completed</td>
    </tr>
    <tr>
        <td>11</td>
        <td>2</td>
        <td>1</td>
        <td>4</td>
        <td>weight</td>
        <td>Completed</td>
    </tr>
    <tr>
        <td>11</td>
        <td>2</td>
        <td>1</td>
        <td>3</td>
        <td>weight</td>
        <td>Completed</td>
    </tr>
    <tr>
        <td>11</td>
        <td>2</td>
        <td>2</td>
        <td>5</td>
        <td>weight</td>
        <td>Completed</td>
    </tr>

    <td>
        &nbsp;
    </td>
    <!--this is the table for week 11 day 3-->

    <tr>
        <td>11</td>
        <td>3</td>
        <td>7</td>
        <td>4</td>
        <td>weight</td>
        <td>Completed</td>
    </tr>

    <td>
        &nbsp;
    </td>
    <!--this is the table for week 12 day 1-->

    <tr>
        <td>12</td>
        <td>1</td>
        <td>3</td>
        <td>4</td>
        <td>weight</td>
        <td>Completed</td>
    </tr>
    <tr>
        <td>12</td>
        <td>1</td>
        <td>1</td>
        <td>3</td>
        <td>weight</td>
        <td>Completed</td>
    </tr>
    <tr>
        <td>12</td>
        <td>1</td>
        <td>2</td>
        <td>4</td>
        <td>weight</td>
        <td>Completed</td>
    </tr>

    <td>
        &nbsp;
    </td>
    <!--this is the table for week 12 day 2-->
    <tr>
        <td>12</td>
        <td>2</td>
        <td>7</td>
        <td>3</td>
        <td>weight</td>
        <td>Completed</td>
    </tr>

    <td>
        &nbsp;
    </td>
    <!--this is the table for week 12 day 3-->
    <tr>
        <td>12</td>
        <td>3</td>
        <td>2</td>
        <td>3</td>
        <td>weight</td>
        <td>Completed</td>
    </tr>
    <tr>
        <td>12</td>
        <td>3</td>
        <td>1</td>
        <td>4</td>
        <td>weight</td>
        <td>Completed</td>
    </tr>
    <tr>
        <td>12</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>weight</td>
        <td>Completed</td>
    </tr>
    <td>
        &nbsp;
    </td>
    <!--this is the table for week 13 day 1-->
    <tr>
        <td>13</td>
        <td>1</td>
        <td>3</td>
        <td>3</td>
        <td>weight</td>
        <td>Completed</td>
    </tr>
    <tr>
        <td>13</td>
        <td>1</td>
        <td>5</td>
        <td>5</td>
        <td>weight</td>
        <td>Completed</td>
    </tr>

    <td>
        &nbsp;
    </td>
    <!--this is the table for week 13 day 2-->
    <tr>
        <td>13</td>
        <td>2</td>
        <td>5</td>
        <td>3</td>
        <td>weight</td>
        <td>Completed</td>
    </tr>

    <td>
        &nbsp;
    </td>
    <!--this is the table for week 13 day 3-->
    <tr>
        <td>13</td>
        <td>3</td>
        <td>7</td>
        <td>3</td>
        <td>weight</td>
        <td>Completed</td>
    </tr>

    <td>
        &nbsp;
    </td>
    <!--this is the table for week 14 day 1-->
    <tr>
        <td>14</td>
        <td>1</td>
        <td>1</td>
        <td>3</td>
        <td>weight</td>
        <td>Completed</td>
    </tr>
    <tr>
        <td>14</td>
        <td>1</td>
        <td>1</td>
        <td>4</td>
        <td>weight</td>
        <td>Completed</td>
    </tr>
    <tr>
        <td>14</td>
        <td>1</td>
        <td>5</td>
        <td>5</td>
        <td>weight</td>
        <td>Completed</td>
    </tr>

    <td>
        &nbsp;
    </td>
    <!--this is the table for week 14 day 2-->
    <tr>
        <td>14</td>
        <td>2</td>
        <td>6</td>
        <td>3</td>
        <td>weight</td>
        <td>Completed</td>
    </tr>

    <td>
        &nbsp;
    </td>
    <!--this is the table for week 14 day 3-->
    <tr>
        <td>14</td>
        <td>3</td>
        <td>1</td>
        <td>3</td>
        <td>weight</td>
        <td>Completed</td>
    </tr>
    <tr>
        <td>14</td>
        <td>3</td>
        <td>4</td>
        <td>4</td>
        <td>weight</td>
        <td>Completed</td>
    </tr>

    <td>
        &nbsp;
    </td>
    <!--this is the table for week 15 day 1-->
    <tr>
        <td>15</td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>weight</td>
        <td>Completed</td>
    </tr>
    <tr>
        <td>15</td>
        <td>1</td>
        <td>2</td>
        <td>5</td>
        <td>weight</td>
        <td>Completed</td>
    </tr>
    <tr>
        <td>15</td>
        <td>1</td>
        <td>3</td>
        <td>4</td>
        <td>weight</td>
        <td>Completed</td>
    </tr>

    <td>
        &nbsp;
    </td>
    <!--this is the table for week 15 day 2-->
    <tr>
        <td>14</td>
        <td>2</td>
        <td>5</td>
        <td>4</td>
        <td>weight</td>
        <td>Completed</td>
    </tr>

    <td>
        &nbsp;
    </td>
    <!--this is the table for week 16 -->
    <tr>
        <td>16</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>MAX</td>
        <td>Completed</td>
    </tr>
    <tr>
        <td>16</td>
        <td>2</td>
        <td>1</td>
        <td>1</td>
        <td>MAX</td>
        <td>Completed</td>
    </tr>
</table>

<br />
<p>Enter your New Max</p>
<!--Need to calculate total progress-->
<p>Total Progress in Pounds:</p>



